footer {
    max-width: 100%;
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
    background-image: radial-gradient(at 30% top, #031d33 0%, rgba(3, 37, 65, 1) 70%);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer nav div {
    margin-right: 20px;
}

footer section {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    opacity: 0.1;
    font-size: 0.7em;
}